<app-error [errorMessage]="errorMessage()"></app-error>

<div class="collapsibleSection" [class.open]="isOpen()">
  <div class="contentRow fw-bold text-center fs-5 p-2" style="border-top: 1px solid #ccc">
    Sign In
  </div>

  <form [formGroup]="form" (ngSubmit)="onSignIn()">
    <div class="contentRow ps-3 pe-3 form-floating">
      <input
        id="emailLogin"
        type="email"
        class="form-control"
        placeholder=" "
        formControlName="email"
      />
      <label for="emailLogin">Email</label>
      @if (form.controls.email.touched && form.controls.email.invalid) {
        @if (form.controls.email.errors?.['required']) {
          <small class="error d-block">Email is required.</small>
        }
        @if (form.controls.email.errors?.['email']) {
          <small class="error d-block">Invalid email format.</small>
        }
      }
    </div>

    <div class="contentRow ps-3 pe-3 form-floating">
      <input
        id="passwordLogin"
        type="password"
        class="form-control"
        placeholder=" "
        formControlName="password"
      />
      <label for="passwordLogin">Password</label>
      @if (form.controls.password.touched && form.controls.password.invalid) {
        @if (form.controls.password.errors?.['required']) {
          <small class="error d-block">Password is required.</small>
        }
      }
    </div>

    <div class="contentRow p-3">
      <button id="signInBtn" class="btn btn-primary float-start" type="submit">
        @if (btnSpinner()) {
          <span class="spinner-border spinner-border-sm me-2"></span>
        }
        Sign In
      </button>
      <a
        id="forgotPasswordBtn"
        routerLink="/forgotpassword"
        class="float-end"
        style="line-height: 35px"
        >Forgot password?</a
      >
    </div>
    <div
      class="contentRow ps-3 pe-3 text-center text-white bg-primary"
      style="padding-top: 13px; padding-bottom: 13px"
    >
      <div class="width-100 fs-6">Register a new account</div>
      <button id="toggleRegisterBtn" type="button" class="btn btn-light" (click)="onToggleSignIn()">
        Sign Up
      </button>
    </div>
  </form>
</div>
