<div class="contentRow ps-3 pe-3 fw-bold bg-primary text-white">Change Password</div>
@if (!isNewPasswordSaved()) {
  <app-error [errorMessage]="errorMessage()"></app-error>
  <div class="contentRow ps-3 pe-3">
    <form [formGroup]="form" (ngSubmit)="onChangePassword()" autocomplete="off">
      <div class="d-inline-block w-100">Existing Password</div>
      <input
        id="changePasswordExistingPassword"
        type="password"
        formControlName="existingPassword"
        class="form-control float-start"
        style="margin: 3px 0px"
      />
      @if (form.controls.existingPassword.touched && form.controls.existingPassword.invalid) {
        @if (form.controls.existingPassword.errors?.['required']) {
          <small class="error d-block">Existing password is required.</small>
        }
      }

      <div class="d-inline-block w-100">New Password</div>
      <input
        id="changePasswordNewPassword"
        type="password"
        formControlName="newPassword"
        class="form-control float-start"
        style="margin: 3px 0px"
      />
      @if (form.controls.newPassword.touched && form.controls.newPassword.invalid) {
        @if (form.controls.newPassword.errors?.['required']) {
          <small class="error d-block">New password is required.</small>
        }
      }

      <button id="changePasswordBtn" type="submit" class="btn btn-success mt-3 mb-3">
        @if (btnSpinner()) {
          <span class="spinner-border spinner-border-sm me-2"></span>
        }
        Save
      </button>
    </form>
  </div>
} @else {
  <div
    id="changePasswordSuccessMessage"
    class="contentRow pt-4 pb-4 ps-3 pe-3"
    style="line-height: 22px"
  >
    <strong>Password saved!</strong>
  </div>
}
