<app-login-header></app-login-header>

<div class="contentRow fs-5 p-2 text-center fw-bold" style="border-top: 1px solid #ccc">
  Reset Password
</div>

<app-error [errorMessage]="errorMessage()"></app-error>

@if (!isEmailSent()) {
  <div class="contentRow ps-3 pe-3" style="padding-top: 3px; padding-bottom: 3px">
    <form [formGroup]="form" (ngSubmit)="onResetPassword()" autocomplete="off">
      <div class="d-inline-block w-100 lh-base pt-3">
        Enter a new password to update your account.
      </div>
      <div class="d-inline-block w-100">New Password</div>
      <input id="newPassword" formControlName="password" type="password" class="form-control" />
      @if (form.controls.password.touched && form.controls.password.invalid) {
        @if (form.controls.password.errors?.['required']) {
          <small class="error d-block">New password is required.</small>
        }
      }

      <div class="d-inline-block w-100">Repeat New Password</div>
      <input
        id="repeatNewPassword"
        formControlName="passwordRepeat"
        type="password"
        class="form-control"
      />
      @if (
        form.controls.passwordRepeat.touched &&
        (form.controls.passwordRepeat.invalid || form.hasError('passwordMismatch'))
      ) {
        @if (form.controls.passwordRepeat.errors?.['required']) {
          <small class="error d-block">Repeat new password is required.</small>
        }
        @if (form.hasError('passwordMismatch')) {
          <small class="error d-block">Passwords must match.</small>
        }
      }

      <button id="resetPasswordBtn" type="submit" class="btn btn-success mt-3 mb-3">
        @if (btnSpinner()) {
          <span class="spinner-border spinner-border-sm me-2"></span>
        }
        Save Password
      </button>
    </form>
  </div>
} @else {
  <div
    id="resetPasswordSuccessMessage"
    class="contentRow pt-4 pb-4 ps-3 pe-3"
    style="line-height: 22px"
  >
    <strong>Password updated!</strong><br />
    Your password is now updated
  </div>
}
