@using FinanceApp2.Shared.Helpers
@using FinanceApp2.Shared.Models
@using FinanceApp2.Shared.Services.DTOs
@using FinanceApp2.Web.Helpers

@if (StatusMessages?.Any() == true)
{
    <div class="container">
        @foreach (UIStatusMessage statusMessage in StatusMessages)
        {
            string statusClass = string.Empty;
            if (UIStatus.Success.Equals(statusMessage.Status))
            {
                statusClass = "text-success";
            }
            else if (UIStatus.Error.Equals(statusMessage.Status))
            {
                statusClass = "text-danger";
            }
            <div class="text-center @(statusClass)">@statusMessage.Message</div>
        }
    </div>
}

@code {
    [Parameter]
    public List<UIStatusMessage> StatusMessages { get; set; } = new List<UIStatusMessage>();
}
