@page "/forgotpassword"
@using FinanceApp2.Shared.Data
@using FinanceApp2.Web.Components
@using FinanceApp2.Web.Data
@using FinanceApp2.Web.Helpers
@using FinanceApp2.Web.Models
@using FinanceApp2.Web.Services
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavManager
@inject IAuthClient AuthService

<div id="loginHeader" class="text-center">
    <span id="nameplate" class="d-inline-block mt-5 mb-3 pt-5 ps-0">
        <img src="favicon.ico" />Finance App
    </span>
</div>

<div class="contentRow fs-5 p-2 text-center fw-bold" style="border-top: 1px solid #CCC;">Forgot Password</div>

<StatusMessagesView StatusMessages="statusMessageHelper.StatusMessages" />
@if (forgotPasswordForm is not null)
{
    if (!isEmailSent)
    {
        <div class="contentRow ps-3 pe-3" style="padding-top: 3px;padding-bottom: 3px;">
            <EditForm EditContext="@forgotPasswordForm.EditContext">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="d-inline-block w-100 lh-base pt-3">Enter your account's email address to send a password reset link.</div>
                <div class="d-inline-block w-100">Email</div>
                <InputTextNoAuto @bind-Value="forgotPasswordForm.Model.Email" type="text" class="form-control" />
                <ButtonWithSpinner
                    OnClickAsync="HandleForgotPasswordSubmit"
                    class="btn btn-success mt-3 mb-3"
                    Disabled="!forgotPasswordForm.IsValid">
                        Send Reset Link
                </ButtonWithSpinner>
            </EditForm>
        </div>
    }
    else
    {
        <div class="contentRow pt-4 pb-4 ps-3 pe-3" style="line-height: 22px;">
            <strong>Email sent!</strong><br />
            We’ve sent a password reset link to your email address.<br />
            Click the link to reset your password.
        </div>
    }
}

<div class="contentRow p-3">
    <button class="btn btn-secondary" @onclick="HandleLoginNavigation">
        Back
    </button>
</div>

@code {
    private bool isEmailSent = false;

    private StatusMessageHelper statusMessageHelper = default!;

    private FormState<ForgotPasswordModel> forgotPasswordForm = default!;

    protected override void OnInitialized()
    {
        statusMessageHelper = new StatusMessageHelper(() => InvokeAsync(StateHasChanged));
        forgotPasswordForm = new FormState<ForgotPasswordModel>(StateHasChanged);
    }

    private void HandleLoginNavigation()
    {
        NavManager.NavigateTo("/login");
    }

    private async Task HandleForgotPasswordSubmit()
    {
        try
        {
            await AuthService.ForgotPasswordAsync(forgotPasswordForm.Model.Email);
        }
        catch (Exception ex) {}
        isEmailSent = true;
        StateHasChanged();
    }
}