@inject NavigationManager NavManager

<p>Redirecting to login...</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavManager.NavigateTo("/login");
        }
    }
}
