@page "/resetpassword"
@using FinanceApp2.Web.Data
@using FinanceApp2.Web.Components
@using FinanceApp2.Web.Helpers
@using FinanceApp2.Web.Models
@using FinanceApp2.Web.Services
@inject NavigationManager NavManager
@inject IAuthClient AuthService

<div id="loginHeader" class="text-center">
    <span id="nameplate" class="d-inline-block mt-5 mb-3 pt-5 ps-0">
        <img src="favicon.ico" />Finance App
    </span>
</div>

<div class="contentRow fs-5 p-2 text-center fw-bold" style="border-top: 1px solid #CCC;">Reset Password</div>

<StatusMessagesView StatusMessages="statusMessageHelper?.StatusMessages" />
@if (resetPasswordForm is not null)
{
    @if (!isEmailSent)
    {
        <div class="contentRow ps-3 pe-3" style="padding-top: 3px;padding-bottom: 3px;">
            <EditForm EditContext="@resetPasswordForm.EditContext">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="d-inline-block w-100 lh-base pt-3">Enter a new password to update your account.</div>
                <div class="d-inline-block w-100">New Password</div>
                <InputTextNoAuto @bind-Value="resetPasswordForm.Model.NewPassword" type="password" class="form-control" />
                <div class="d-inline-block w-100">Repeat New Password</div>
                <InputTextNoAuto @bind-Value="resetPasswordForm.Model.RepeatNewPassword" type="password" class="form-control" />
                <ButtonWithSpinner
                OnClickAsync="HandleResetPasswordSubmit"
                class="btn btn-success mt-3 mb-3"
                Disabled="!resetPasswordForm.IsValid">
                    Save Password
                </ButtonWithSpinner>
            </EditForm>
        </div>
    }
    else
    {
        <div class="contentRow pt-4 pb-4 ps-3 pe-3" style="line-height: 22px;">
            <strong>Password updated!</strong><br />
            Your password is now updated
        </div>
    }
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Email { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Token { get; set; }

    private bool isEmailSent = false;

    private StatusMessageHelper statusMessageHelper = default!;

    private FormState<ResetPasswordModel> resetPasswordForm = default!;

    protected override void OnInitialized()
    {
        statusMessageHelper = new StatusMessageHelper(() => InvokeAsync(StateHasChanged));
        if (string.IsNullOrWhiteSpace(Email) || string.IsNullOrWhiteSpace(Token))
        {
            statusMessageHelper.ShowError("Error loading page");
        }
        resetPasswordForm = new FormState<ResetPasswordModel>(StateHasChanged);
        resetPasswordForm.Model.Email = Email ?? string.Empty;
        resetPasswordForm.Model.Token = Token ?? string.Empty;
        StateHasChanged();
    }

    private async Task HandleResetPasswordSubmit()
    {
        await AuthService.ResetPasswordAsync(resetPasswordForm.Model.Email, resetPasswordForm.Model.Token, resetPasswordForm.Model.NewPassword)
        .HandleAsync(
            onSuccess: () => {
                isEmailSent = true;
                statusMessageHelper.ClearStatuses();
            },
            onError: (string errorString) => { statusMessageHelper.ShowError(errorString); }
        );
        StateHasChanged();
    }
}